/* 
boloniver = http://i.imgur.com/eF41C32.png
gatinho = http://i.imgur.com/xCCj6qv.png
fone = http://i.imgur.com/h5zZnJ9.png
marshmello = http://i.imgur.com/eNVnEHu.png
alan walker = http://i.imgur.com/szsFh9i.png
alan walker2 = http://i.imgur.com/dWLt0mW.png
anime1 = http://i.imgur.com/u0y9MgM.png
anime2 = http://i.imgur.com/dKBWIoK.png
*/


/* dudenha */

[data-cid^="5401598-"] .msg .from .un {
    position: relative;
    padding-left: 20px;
    background-image: url(http://i.imgur.com/dWLt0mW.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 16px auto;
    left: -2px;
} 

#user-lists .list .fromID-5401598 .name, #user-lists .list .id-5401598 .name {
    position: relative;
    left: -1px;
    padding-left: 50px;
    background-image: url(http://i.imgur.com/dWLt0mW.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 16px auto;
    padding-top: 2px;
}

/* shadow */ 

[data-cid^="4080795-"] .msg .from .un {
    position: relative;
    padding-left: 20px;
    background-image: url(http://i.imgur.com/eNVnEHu.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 16px auto;
    left: -2px;
} 

#user-lists .list .fromID-4080795 .name, #user-lists .list .id-4080795 .name {
    position: relative;
    left: -1px;
    padding-left: 50px;
    background-image: url(http://i.imgur.com/eNVnEHu.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 16px auto;
    padding-top: 2px;
}

